:root {
 

    margin: 0;
    padding: 0;
    box-sizing: border-box;

    color:#FFFFFF;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Chillax', sans-serif;
    background: linear-gradient( #02252df7, #8ba8d292)
    



}

header {
    background: rgba(132, 121, 216, 0.135);
    border-radius: 00.3rem;
    border: 00.1rem solid;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20.3px);
    -webkit-backdrop-filter: blur(13.3px);
    width: 75vw;
}

header,
h1 {
    
    padding: 1.5rem;
    margin-inline: 1.7rem;
    font-weight: 100;



}

.title {
    background: rgba(246, 239, 239, 0.08);
    
    border-radius: 00.3rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20.3px);
    -webkit-backdrop-filter: blur(13.3px);
    padding-bottom: 1.5rem;
    padding-inline: 1rem;
    text-shadow: 0 -4px 3px rgba(255, 255, 255, 0.3), 0 3px 4px rgba(0, 0, 0, 0.2);

}

.form {
    border: none;
    padding-bottom: 5rem;
}

#google_translate_element,
.skiptranslate {
    display: none;
}

body {
    top: 0 !important;
}

.container {
    display: flex;
    flex-direction: column;

}

.row {
    display: flex;
    align-items: center;

    flex-direction: column;
}


main {
    margin: auto;
    text-align: center;
}

.title-section {
    padding: 1rem;
    margin-block: 2rem;
    padding-inline: 8rem;
    border-radius: 00.3rem;
    color: #FFFFFF;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    background: rgba(246, 239, 239, 0.08);
    
    
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20.3px);
    -webkit-backdrop-filter: blur(13.3px);
}

#datepicker {
    box-sizing: border-box;
    width: 9rem;
    padding: 00.2rem;
    border-radius: 0.5rem;
    margin-bottom: 1.5rem;
}

.datepicker {

    border: none;
    padding-inline: 1rem;


}

.image-div {
    width: 80%;
    margin: auto;
}

#image_of_the_day {
    width: 100%;
}

.video-div {
    width: 80%;
    margin: auto;
}

#videoLink {
    width: 100%;
    height: 70vh
}

.description-div {
    font-family: 'Montserrat', sans-serif;
    width: 80%;
    margin-block: 1.6rem;
    margin-inline: 0.5rem;
    border: solid 1px white;
    padding: 1rem;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 500;

    border-radius: 00.3rem;
    background: #f4f6fb0f;
    box-shadow:
        3.4px 2.6px 13.5px -73px rgba(0, 0, 0, 0.073),
        7.5px 5.6px 34.2px -73px rgba(0, 0, 0, 0.098),
        13.3px 10px 69.8px -73px rgba(0, 0, 0, 0.124),
        24.2px 18.1px 143.8px -73px rgba(0, 0, 0, 0.165),
        60px 45px 394px -73px rgba(0, 0, 0, 0.25);
    text-align: justify;
    color: #000000;
}

#description {
    line-height: 1.82;
}

@media only screen and (max-width: 600px) {

   
    
    body {
        max-width: 60%;
    }

  

    .title {
        width: 90%;
        height: 50%;
        font-size: 12px;
        padding-block: 00.1rem;
        margin-block: 0.1rem;

    }
    .title-section {
        width: 70%;
        height: 30%;
        font-size: 12px;
        text-align: justify;
        padding-inline: 3rem;
        margin-block: 2rem;
    }

    #media-section{
        width: 135%;
        height: 200%;
    }
    

}